body{
  margin: 0px;
  padding: 0px;
  font-family:"Helvetica Neue",Helvetica,Arial;
}
#sidebar{
  background:#151718;
  width: 200px;
  height: 150%;
  display: block;
  position:absolute;
  left:0px;
  top:0px;
}
#Overview-Screen h1{
  position: absolute;
  left: 40%;
  top: 40px;
  line-height: 0;
  text-align: center;
  font-size: 75px;
}
ul{
  margin:0px;
  padding: 0px;
}
ul li{
  list-style: none;
}
ul li a{
  background: #1C1E1F;
  color: #CCC;
  border-bottom: 1px solid #111;
  display:block;
  width: 100px;
  padding: 10px;
  text-decoration: none;
}
ul li dt{
  background: #1C1E1F;
  color: #CCC;
  border-bottom: 1px solid #111;
  display:block;
  width: 100px;
  padding: 0px;
  text-decoration: none;
}
ul li h1{
  background: #1C1E1F;
  color: #CCC;
  border-bottom: 1px solid #111;
  display:block;
  width: 100px;
  padding: 10px;
  text-decoration: none;
}
#sidebar a:hover{
  color:#008080;
}
