<html>
<head>
  <title>CRM</title>
  <link rel="stylesheet" type="text/css" href="{{
  url_for('static', filename='styleMain.css') }}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
  body,h1,h2,h3,h4,h5 {font-family:"Helvetica Neue",Helvetica,Arial}
</style>
</head>
<body>
    <div id="Overview-Screen">
      <h1> Overview </h1>
    </div>
        <div id="sidebar">
              <ul>
                <li><h1> Welcome!</h1>
                <li><a href="main.html">Dashboard</a></li>

                <li>
                  <dt>Database Manager</dt>
                    <dd><a href="add"> - Add Client</a></dd>
                    <dd><a href="edit.html"> - Search Client</a></dd>

                  </li>

                <li><a href="sm.html">Social Media</a></li>
                <li><a href="stats.html">Statistics</a></li>
              </ul>
        </div>
      <div class="w3-card-4 w3-display-position " style="width:30%;top:150px;left:300px">
        <header class="w3-container w3-teal">
          <h1>Client</h1>
        </header>
        <div class="w3-container">
          <img src="#"style="width:30%">
          <p>Something</p>
        </div>
        <footer class="w3-container w3-teal">
          <p><button class="w3-button w3-padding-large w3-teal w3-border"><b>Leer mas </b></button></p>
        </footer>
        </div>

        <div class="w3-card-4 w3-display-position " style="width:30%;top:150px;left:950px">
          <header class="w3-container w3-teal">
            <h1>Social</h1>
          </header>
          <div class="w3-container">
            <img src="#"style="width:30%">
            <p>Something</p>
          </div>
          <footer class="w3-container w3-teal">
            <p><button class="w3-button w3-padding-large w3-teal w3-border"><b>Leer mas </b></button></p>
          </footer>
          </div>

          <div class="w3-card-4 w3-display-position " style="width:30%;top:500px;left:300px">
            <header class="w3-container w3-teal">
              <h1>Stats</h1>
            </header>
            <div class="w3-container">
              <img src="#"style="width:30%">
              <p>Something</p>
            </div>
            <footer class="w3-container w3-teal">
              <p><button class="w3-button w3-padding-large w3-teal w3-border"><b>Leer mas </b></button></p>
            </footer>
            </div>

            <div class="w3-card-4 w3-display-position " style="width:30%;top:500px;left:950px">
              <header class="w3-container w3-teal">
                <h1>Latest Changes</h1>
              </header>
              <div class="w3-container">
                <p>Log</p>
              </div>
              <footer class="w3-container w3-teal">
                <p><button class="w3-button w3-padding-large w3-teal w3-border"><b>Leer mas </b></button></p>
              </footer>
              </div>

</body>
</html>